:root {
--color1: #333;
--color2: #555;
--fondo: #f2f2f2;
}

body {
background-color: var(--fondo);
font-family: Arial;
margin: 0;
}

header {
background-color: var(--color1);
color: white;
text-align: center;
padding: 15px;
}

nav {
background-color: var(--color2);
display: flex;
justify-content: center;
gap: 15px;
padding: 10px;
}

nav a {
color: white;
text-decoration: none;
}

main {
padding: 20px;
text-align: center;
}

footer {
background-color: var(--color1);
color: white;
text-align: center;
padding: 10px;
}
